<h3>Welcome {{name}}</h3>
{{#if requests}}
<p>Here are your requests</p>
<table class="striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each requests}}
            <tr>
                <td><a href="/requests/{{_id}}">{{title}}</a></td>
                <td>{{formatDate createdAt 'MMMM do YYYY, h:mm:ss a'}}</td>
                <td><span class="dash-status">{{status}}</span></td>
                <td>
                    <a href="/requests/edit/{{_id}}" class="btn-float">
                    <i class="fas fa-edit"></i>
                    </a>
                    <form action="/requests/{{_id}}" method="POST" id="delete-form">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn red">
                            <i class="fas fa-trash"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<p>you have no requests</p>
{{/if}}